# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Local files
config/local*
config/private.*
config/public.*
config/users.*
!config/*.EXAMPLE.*
data