// scss-docs-start theme-color-variables
$primary: #3f729b !default;
// $secondary: #9fa6b2 !default;
// $success: #14a44d !default;
// $danger: #dc4c64 !default;
// $warning: #e4a11b !default;
// $info: #54b4d3 !default;
// $light: #fbfbfb !default;
// $dark: #332d2d !default;
// scss-docs-end theme-color-variables

$font-family-base: 'Roboto Flex', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
