<div class="container my-5">
  <h1 class="mb-4">Horaires - Admin</h1>
  <form class="submit-form" action="../import" method="POST">
    <p>Importe de LibCAL tous les horaires des bibliothèques et leurs services pour les 52 semaines à venir. Les jours où il n'y a pas d'horaire définit seront ignorés.</p>

    <button class="submit-btn btn btn-primary btn-lg my-4" type="submit">Importer les horaires</button>

    <div class="progress-bar-container">
      <smart-progress-bar id="import-progress" hidden></smart-progress-bar>
    </div>
  </form>

  <hr class="mt-4">

  <h2 class="mt-5 mb-4">Liste des bibliothèques présentes dans le service</h2>

  <div class="table-responsive">
    <table class="table table-light">
      <thead>
        <tr>
          <th>Bibliothèque</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody id="liste-bibs"></tbody>
    </table>
  </div>

  <h2 class="mt-5 mb-4">Liste des types de services</h2>

  <div class="table-responsive">
    <table class="table table-light">
      <thead>
        <tr>
          <th>Service</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody id="liste-services"></tbody>
    </table>
  </div>
</div>